/.vs
/bin
/obj
/Documentation
/packages
/.editorconfig
/CanvasEngine.csproj.user
/script.txt
/plans.txt
/MDA_framework.png
/EnemyMissleDia.png
/GameManagerDia.png
/Trello.png
/TrelloW2.png
/TrelloW3.png